/* blue */
a:link, a:visited {
	color: #BC2149;
}

a:hover {
	color: #86817D;
}

#pillmenu a:hover {
	background: url(../images/blue/mw_menu_active_bg.png) no-repeat 6px 1px;
	color: #fff;
}

#pillmenu a#active_menu-nav {
  background: url(../images/blue/mw_menu_active_bg.png) repeat-x;
  color: #fff;
}

#pillmenu a#active_menu-nav:hover {
  color: #fff;
}

h3, .componentheading, table.moduletable th {
  color: #8F8783;
}

div.module_menu {
	background: url(../images/blue/mw_box_br.png) 100% 100% no-repeat;
}

div.module_menu div {
	background: url(../images/blue/mw_box_bl.png) 0 100% no-repeat;
}

div.module_menu div div {
	background: url(../images/blue/mw_box_tr.png) 100% 0 no-repeat;
}

div.module_menu div div div {
	background: url(../images/blue/mw_box_tl.png) 0 0 no-repeat;
}

tr.sectiontableentry0 td {
	background-color: #ccc;
}

tr.sectiontableentry1, td.sectiontableentry1 {
	background-color: #ece8e7;
}

tr.sectiontableentry2, td.sectiontableentry2 {
	background-color: #efefef;
}
